body {
    font-family: Gabriola; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease;
    background-color: rgb(211, 16, 16);

    
}

.container {
    font-family: Gabriola;
    text-align: center;
    background-color: rgba(40, 189, 10, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 30px;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: .5px solid #ccc;
    border-radius: 15px;
    width: 80%;
    font-family: Gabriola;
    font-size: 20px;
    
}

button {
    padding: 10px 20px;
    font-family: gabriola;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #1fb9d4;
    color: rgb(250, 250, 250);
    transition: background-color 0.3s ease;
    
}

button:hover {
    background-color: #0056b3;
    
}

p {
    font-size: 25px;
}
